<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <title>Document</title>
  </head>

  <body>
    <div id="app">
      <div v-if="showBooks">
        <p>{{ title }}</p>
        <p>{{ author }}</p>
        <p>{{ age }}</p>
      </div>

      <!-- v-show directive doesn't remove element from the DOM, it display it none -->
      <div v-show="showBooks">
        <p>{{ title }}</p>
        <p>{{ author }}</p>
        <p>{{ age }}</p>
      </div>

      <button @click="showBooks = !showBooks">
        {{ showBooks ? 'Hide' : 'Show' }} Books
      </button>

      <!-- v-if | else -->
      <button @click="showBooks = !showBooks">
        <span v-if="showBooks">Hide Books</span>
        <span v-else>Show Books</span>
      </button>
    </div>
    <script src="app.js"></script>
  </body>
</html>
